TRITON_DEFAULT_CLUSTER=devnet
TRITON_DEVNET_RPC_URL=https://xfsoluti-solanad-d155.devnet.rpcpool.com/<x-token>
TRITON_MAINNET_RPC_URL=https://xfsoluti-solanam-739d.mainnet.rpcpool.com/<x-token>
TRITON_DEVNET_FALLBACK_RPC_URL=
TRITON_MAINNET_FALLBACK_RPC_URL=
TRITON_DEVNET_GRPC_URL=
TRITON_MAINNET_GRPC_URL=

# Optional. If empty, the server generates one per container start.
RAYDIUM_DEBUGGER_API_TOKEN=
RAYDIUM_DEBUGGER_MAX_CONCURRENT_DEBUGS=4
